<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h4 class="page-header">
				<ul class="breadcrumb">
					<li class="fa fa-bell active"><a href="#">Home</a></li>
					<li class="fa fa-bell"><a href="#">Subject</a></li>
				</ul>

			</h4>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			Class
			<div class="input-group pull-right">
				<div class="form-group">
					<label class="col-lg-8 control-label">Item Per Page(1-100)</label>
					<div class="col-lg-4">
						<input name="limit"
							class="input-sm form-control pull-right ng-pristine ng-valid ng-valid-number ng-valid-max ng-valid-min"
							min="1" max="100" value="5" step="1" type="number"
							data-ng-model-options="{ debounce: 1000 }" data-ng-model="query.limit">
					</div>
				</div>
			</div>

		</div>
		<div class="panel-body">
			<table class="table table-hover table-striped table-condensed">
				<thead>
					<tr>

						<!-- <th>S.No.</th> -->
						<th>ClassName</th>
						<th>Subject1</th>
						<th>Subject2</th>
						<th>Subject3</th>
						<th>Subject4</th>
						<th>Subject5</th>
						<th>Subject6</th>
						<th>Subject7</th>
						<th>Subject8</th>
						<th>Subject9</th>
						<th>Subject10</th>
						<th>Subject11</th>
						<th>Subject12</th>
						<th>Subject13</th>
						<th>Subject14</th>
						<th>Subject15</th>
						
						<th>Action</th>
					</tr>
					<tr>
						<th>&nbsp;</th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="class" data-ng-model="query.className" data-ng-model-options="className.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s1" data-ng-model="query.subject1" data-ng-model-options="s1.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s2" data-ng-model="query.subject2" data-ng-model-options="s2.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s3" data-ng-model="query.subject3" data-ng-model-options="s3.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s4" data-ng-model="query.subject4" data-ng-model-options="s4.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s5" data-ng-model="query.subject5" data-ng-model-options="s5.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s6" data-ng-model="query.subject6" data-ng-model-options="s6.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s7" data-ng-model="query.subject7" data-ng-model-options="s7.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s8" data-ng-model="query.subject8" data-ng-model-options="s8.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s9" data-ng-model="query.subject9" data-ng-model-options="s9.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s10" data-ng-model="query.subject10" data-ng-model-options="s10.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s11" data-ng-model="query.subject11" data-ng-model-options="s11.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s12" data-ng-model="query.subject12" data-ng-model-options="s12.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s13" data-ng-model="query.subject13" data-ng-model-options="s13.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s14" data-ng-model="query.subject14" data-ng-model-options="s14.options" aria-invalid="false"/></th>
<th><input type="text" style="width: 80px" class="form-control input-sm" placeholder="s15" data-ng-model="query.subject15" data-ng-model-options="s15.options" aria-invalid="false"/></th>



					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="subject in subjectsList">

					<!-- 	<td>{{$index+1}}</td> -->
						<td>{{subject.class_name}}</td>
						<td>{{subject.subject1}}</td>
						<td>{{subject.subject2}}</td>
						<td>{{subject.subject3}}</td>
						<td>{{subject.subject4}}</td>
						<td>{{subject.subject5}}</td>
						<td>{{subject.subject6}}</td>
						<td>{{subject.subject7}}</td>
						<td>{{subject.subject8}}</td>
						<td>{{subject.subject9}}</td>
						<td>{{subject.subjec10}}</td>
						<td>{{subject.subject11}}</td>
						<td>{{subject.subject12}}</td>
						<td>{{subject.subject13}}</td>
						<td>{{subject.subject14}}</td>
						<td>{{subject.subject15}}</td>
						
						

						<td><a class="btn btn-xs btn-danger fa fa-trash"
							ng-click="removeClass(class)" title="Edit" ng-show="true"
							confirm="Are you sure to delete station '{{station.name}}' !!!"
							confirm-settings="{size: 'md'}"
							confirm-header-class="confirm-header-danger "
							confirm-footer-class="confirm-footer-default"
							confirm-ok-button-class="btn-danger"
							confirm-cancel-button-class="btn-default"
							confirm-title="Confirm Deletion!!" confirm-ok="Yes"
							confirm-cancel="No" title="Remove"> </a>




							<button type="button" class="btn btn-xs btn-warning"
								ng-click="updateStation(station)">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</button></td>
					</tr>
				</tbody>
				<tbody ng-show="true">
					<tr>
						<td colspan="11" class="text-center"><i
							class="fa fa-spinner fa-2x fa-pulse"> </i> Loading Classes...</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="9" class="text-center">
							<!--<div st-items-by-page="itemsPerPage" st-pagination="" st-template="scripts/directives/pagination/pagination.custom.html"></div> !-->
						</td>
					</tr>
				</tfoot>

			</table>
		</div>
	</div>
</div>

<class></class>
<toaster-container
	toaster-options="{'time-out': 3000, 'close-button':true, 'position-class':'toast-bottom-right'}"></toaster-container>