<div class="container-fluid">
<div class="row">
		<div class="col-lg-12">
			 <h4 class="page-header">
                <ul class="breadcrumb">
                    <li class="fa fa-bell active"><a href="#">Home</a></li>
                    <li class="fa fa-bell"><a href="#">Class</a></li>
                </ul>
               
            </h4>
		</div>
	</div>

<div class="panel panel-default">
        <div class="panel-heading">Class
            <div class="input-group pull-right">
                <div class="form-group">
                    <label class="col-lg-8 control-label">Item Per Page(1-100)</label>
                    <div class="col-lg-4">
                        <input name="limit" class="input-sm form-control pull-right ng-pristine ng-valid ng-valid-number ng-valid-max ng-valid-min"
                            min="1" max="100" value="5" step="1" type="number" ng-model-options="{ debounce: 1000 }" ng-model="query.limit">
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>

                        <th>S.No.</th>
                        <th>Class</th>
                        <th>Section1</th>
                        <th>Section2</th>
                        <th>Section3</th>
                        <th>Section4</th>
                        <th>Section5</th>
                        <th>Section6</th>
                        <th>Section7</th>
                        <th>YearofFees</th>
                        <th>Action</th>
                    </tr>
                       <tr>
                            <th>&nbsp;</th>
                            <th><input type="text" style="width:80px" class="form-control input-sm" placeholder="class" /></th>
                           
                            <th><input type="text" style="width:80px" class="form-control input-sm" placeholder="class" /></th>
                            <th><input type="text" style="width:80px" class="form-control input-sm" placeholder="class" /></th>
                            <th><input type="text" style="width:80px" class="form-control input-sm" placeholder="class" /></th>
                            <th><input type="text" style="width:80px" class="form-control input-sm" placeholder="class" /></th>
                            <th><input type="text" style="width:80px" class="form-control input-sm" placeholder="class" /></th>
                            <th><input type="text" style="width:80px" class="form-control input-sm" placeholder="class" /></th>
                             <th><input type="text" style="width:80px" class="form-control input-sm" placeholder="class" /></th>
                             <th><input type="text" style="width:80px" class="form-control input-sm" placeholder="class" /></th>
                         
                       </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="class in classList">

                        <td>{{$index+1}}</td>
                        <td>{{class.className}}</td>
                        <td>{{class.section_1}}</td>
                        <td>{{class.section_2}}</td>
                        <td>{{class.section_3}}</td>
                        <td>{{class.section_4}}</td>
                        <td>{{class.section_5}}</td>
                        <td>{{class.section_6}}</td>
                        <td>{{class.section_7}}</td>
                         <td>{{class.year_fees}}</td>
                        
                        <td>

                                    <a class="btn btn-xs btn-danger fa fa-trash" ng-click="removeClass(class)" title="Edit" ng-show="true" confirm="Are you sure to delete station '{{station.name}}' !!!"
                                        confirm-settings="{size: 'md'}" confirm-header-class="confirm-header-danger " confirm-footer-class="confirm-footer-default"
                                        confirm-ok-button-class="btn-danger" confirm-cancel-button-class="btn-default" confirm-title="Confirm Deletion!!"
                                        confirm-ok="Yes" confirm-cancel="No" title="Remove">

                                    </a>




                                    <button type="button" class="btn btn-xs btn-warning" ng-click="updateStation(station)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>



                                </td>
                    </tr>
                </tbody>
                <tbody ng-show="true">
                    <tr>
                        <td colspan="11" class="text-center"><i class="fa fa-spinner fa-2x fa-pulse"> </i> Loading Classes...</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <!--<div st-items-by-page="itemsPerPage" st-pagination="" st-template="scripts/directives/pagination/pagination.custom.html"></div> !-->
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
    </div>
    
    <class></class>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class':'toast-bottom-right'}"></toaster-container>