<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="panel-heading">Uploading Train & Train Stations</div>
					<div class="panel-body">
						<form name="form">

							<div class="col-lg-6">
								<div class="form-group">
									<label for="usr">Uploader Name:</label> <input
										class="form-control" type="text" name="userName"
										ng-model="uploadObject.uploaderName" required>
								</div>

								<div class="form-group">
									Select : <select ng-model="uploadObject.chooseItems"
										class="form-control" required>
										<option value="">---Choose--</option>
										<option value="{{key}}" ng-repeat="(key,val) in chooseItems">{{val}}</option>
									</select>
								</div>

							</div>
							<div class="col-lg-6">
								<div class="col-lg-12">
									<input type="file" 
										onchange="angular.element(this).scope().checkFileType(this.files)"
										class="button" ngf-select ng-model="Uploadfile"
										name="Uploadfile" ngf-max-size="15MB"></input>
										<br/>
									
										
										<div class="progress">
										<div class="progress-bar progress-bar-striped active"
											role="progressbar" aria-valuenow="{{progressBar}}"
											aria-valuemin="0" aria-valuemax="100"
											style="width: {{progressBar">{{progressBar}}%</div>
									</div>
								</div>

								
								<div class="form-group">
									<label>Description:</label>
									<textarea cols="12" rows="5" ng-keyup="countChar(this)"
										class="form-control" ng-model="uploadObject.description"
										required style="resize: none;"></textarea>
									<div id="charNum"
										style="padding: 4px; float: right; text-align: center;"></div>
								</div>




								<button class="btn btn-primary btn-md" type="submit"
									ng-click="saveUpload()">
									<i class="fa fa-upload" aria-hidden="true"></i> Upload
								</button>


							</div>

						</form>

					</div>
				</div>





				<div id="myModal" class="modal fade" role="dialog">
					<div class="modal-dialog custom-modal-class">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header custom-header-class">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Upload details</h4>
							</div>
							<div class="modal-body custom-body-class">

								<div class="panel panel-default">
									<div class="panel-heading">Upload details</div>
									<div class="panel-body">


										<table
											class="table table-striped table-hover table-condensed table-responsive">
											<thead>
												<tr>
													<th>No.</th>
													<th>OriginalFileName</th>
													<th>FileType</th>
													<th>DataType</th>
													<th>Message</th>
													<th>uploadedBy</th>
													<th>uploadedTime</th>
													<th>Status</th>
													<th>Processed</th>

												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{$index+1}}</td>
													<td>{{user.originalFileName}}</td>
													<td>{{user.fileType}}</td>
													<td>{{user.dataType}}</td>
													<td>{{user.message}}</td>
													<td>{{user.uploadedBy}}</td>
													<td>{{user.uploadedTime | date : 'medium'}}</td>
													<td>{{user.status}}</td>
													<td>{{user.isProcessed}}</td>
												</tr>


											</tbody>
										</table>

									</div>
								</div>



							</div>
							<div class="modal-footer custom-footer-class">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
							</div>
						</div>

					</div>
				</div>
				<br> <br>

				<!--<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>!-->
			</div>
		</div>
	</div>



</div>