<div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Uploading Train & Train Stations</div>
				<div class="panel-body">
					<form name="form" class="form-horizontal enctype="multipart/form-data">

						<div class="col-lg-6">
							<div class="form-group">
								<label for="usr">Uploader Name:</label> <input
									class="form-control" type="text" name="userName"
									ng-model="uploadObject.uploaderName" required>
							</div>

							<div class="form-group">
								Select : <select ng-model="uploadObject.chooseItems"
									class="form-control" required>
									<option value="">---Choose--</option>
									<option value="{{key}}" ng-repeat="(key,val) in chooseItems">{{val}}</option>
								</select>
							</div>

							<div class="form-group">
								<label> Train Details <input type="checkbox" name="name"
									ng-model="uploadObject.traindetails">
								</label>
							</div>
							<div class="form-group">
								<label> Train Station Details <input type="checkbox"
									name="name" ng-model="uploadObject.trainStationdetails">
								</label>

							</div>


							<div class="form-group">
								<label>Description:</label>
								<textarea cols="12" rows="5" ng-keyup="countChar(this)"
									class="form-control" ng-model="uploadObject.description"
									required style="resize: none;"></textarea>
								<div id="charNum"
									style="padding: 4px; float: right; text-align: center;"></div>
							</div>




							<button class="btn btn-primary btn-md" type="submit"
								ng-click="saveUpload()">
								<i class="fa fa-upload" aria-hidden="true"></i> Upload
							</button>

						</div>
						<div class="col-lg-6">
							<div class="col-lg-12">
								<input type="file"
									onchange="angular.element(this).scope().checkFileType(this.files)"
									class="button" ngf-select ng-model="Uploadfile"
									name="Uploadfile" ngf-max-size="15MB"></input> <br />


								<div class="progress">
									<div class="progress-bar progress-bar-striped active"
										role="progressbar" aria-valuenow="{{progressBar}}"
										aria-valuemin="0" aria-valuemax="100"
										style="width: {{progressBar">{{progressBar}}%</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>